# Entornos virtuales
env/
venv/
.venv/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.ipynb_checkpoints*

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Herramientas de análisis / Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.log

# Caches del sistema y de editores
.DS_Store
.vscode/
.idea/
*.swp
*.swo